# CONNECTS harmonization investigation
The purpose of this notebook is to investigate the harmonized files of the ACTIV-4b study as part of the CONNECTS initiative. For more information about this process, please refer to the [CONNECTS COVID-19 Data Exploration documentation](https://docs.google.com/document/d/1g-qayZfLuCYVxp1QXkojlXtS8nSKkcLQMlawVm9Gkv8/edit?usp=sharing).

Specifically, this notebook will aim to answer the following questions:
- Are the same participants present in the raw data file and harmonized data file?
- Does the data of each participant match between these files?
- Is there any data missing?

In [1]:
import pandas as pd

In [2]:
# Use DM.csv for this example
raw = pd.read_csv("../input/DM_original.csv")
harmonized = pd.read_csv("../input/DM_activ4b.csv")

In [3]:
# First check: Are the same participants present in the raw and harmonized files?
raw_peeps = set(raw.PATID)
harmonized_peeps = set(harmonized.SUBJID)
raw_peeps == harmonized_peeps

# Yes - all participants are the same.

True

In [4]:
# Second check: Does the data of each participant match between these files?
raw

,PATID,FORM_ID,RECNO,STATUS,DOBDT,GENDER,ETHNICITY,RACE_1,RACE_2,RACE_3,RACE_4,RACE_5,RACE_M99,RACE_999,RACE_OTH,AGE
0,US-1201-0075,-1,1,5,18-OCT-1959,2,0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,60
1,US-1201-0076,-1,1,5,09-SEP-1973,2,1,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,47
2,US-1201-0077,-1,1,5,12-FEB-1974,1,0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,46
3,US-1201-0078,-1,1,5,15-OCT-1964,2,0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,56
4,US-1201-0079,-1,1,5,30-JUN-1973,2,0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,46
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
652,US-1201-0069,-1,1,5,08-AUG-1970,1,0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,49
653,US-1201-0071,-1,1,5,25-JUN-1970,1,0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,50
654,US-1201-0072,-1,1,5,13-MAR-1970,1,0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,50
655,US-1201-0073,-1,1,5,07-JUL-1962,2,1,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,57
656,US-1201-0074,-1,1,5,16-AUG-1955,1,0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,65

In [ ]:
harmonized